<div class="user-comment pt-[20px]">
  <product-rating size="md" class="inline-block mr-[10px]"></product-rating>
  <span class="feedback font-sans font-medium">
    Perfect! Just wish to have multiple colours in this,
    Perfect! Just wish to have multiple colours in this,
    Perfect! Just wish to have multiple colours in this,
    Perfect! Just wish to have multiple colours in this,
    Perfect! Just wish to have multiple colours in this,
    Perfect! Just wish to have multiple colours in this,
    Perfect! Just wish to have multiple colours in this,
    Perfect! Just wish to have multiple colours in this 😍
  </span>
</div>
<div class="user-image mt-2 flex flex-row justify-start">
  <!-- <img class="h-[75px] w-[75px] mr-2" src="../../../../../assets/images/reviews/review-image-1.jpg" alt="">
  <img class="h-[75px] w-[75px] mr-2" src="../../../../../assets/images/reviews/review-image-2.jpg" alt="">
  <img class="h-[75px] w-[75px] mr-2" src="../../../../../assets/images/reviews/review-image-3.jpg" alt="">
  <img class="h-[75px] w-[75px] mr-2" src="../../../../../assets/images/reviews/review-image-4.jpg" alt="">
  <img class="h-[75px] w-[75px] mr-2" src="../../../../../assets/images/reviews/review-image-5.jpg" alt=""> -->

</div>
<div class="user-details mt-2 pb-[20px] border-b border-stone-200 reviewed-by-user flex flex-row items-center">
  <span class="pb-[0.8px] mr-[6px]">Surbhi Shelke</span>
  <div class="divider mt-[2px] mr-[6px] h-[14px] border-r-[1px] border-stone-400"></div>
  <span class="pb-[0.8px]">21 June 2024</span>
</div>
