<page-header #ecomPageHeaderViewChild>
</page-header>

<div class="relative top-[75px] grid grid-flow-row grid-rows-[auto_auto] gap-y-[10px]">
  <div class="bg-stone-100 min-h-[330px] grid grid-rows-[330px_230px] gap-y-[10px]">
    <div class="h-full bg-gradient-to-b from-transparent from-10%
    via-bg-emerald-300 via-60% to-blue-200 to-90%">
      <img src="../../../../../assets/images/carousel/3.jpg" class="w-full h-full" alt="">
    </div>
    <div class="h-full bg-slate-50
    px-[10rem]">
      <div class="h-full flex flex-row justify-between items-center">
        <dress-type-card (showProductListingPage)="showProductListingPage()"></dress-type-card>
        <dress-type-card (showProductListingPage)="showProductListingPage()"></dress-type-card>
        <dress-type-card (showProductListingPage)="showProductListingPage()"></dress-type-card>
        <dress-type-card (showProductListingPage)="showProductListingPage()"></dress-type-card>
        <dress-type-card (showProductListingPage)="showProductListingPage()"></dress-type-card>
      </div>
    </div>
  </div>
  <div class="footer grid grid-rows-[280px_50px] gap-y-[1px]">
    <div class="company-info bg-slate-700 grid grid-flow-row grid-cols-[75%_25%]">
      <div class="company-info-section1 grid grid-flow grid-cols-5 gap-x-[2px]">
        <div class="about-us">
          <div class="title">ABOUT</div>
          <div class="content">
            <span>About BlissView</span>
            <span>Contact Us</span>
          </div>
        </div>
        <div class="social-media">
          <div class="title">SOCIAL MEDIA</div>
          <div class="content">
            <span>Instagram</span>
            <span>Twitter</span>
            <span>Facebook</span>
            <span>Youtube</span>
          </div>
        </div>
        <div class="make-money">
          <div class="title">MAKE MONEY</div>
          <div class="content">
            <span>Ecom Training</span>
            <span>Sell on BlissView</span>
          </div>
        </div>
        <div class="help-center">
          <div class="title">HELP CENTER</div>
          <div class="content">
            <span>Payments</span>
            <span>Shipping</span>
            <span>Cancellation & Returns</span>
            <span>FAQ</span>
          </div>
        </div>
        <div class="consumer-policy">
          <div class="title">CONSUMER POLICY</div>
          <div class="content">
            <span>Cancellation & Returns</span>
            <span>Terms Of Use</span>
            <span>Secuity</span>
            <span>Pivacy</span>
            <span>Sitemap</span>
            <span>Grevance Redressal</span>
            <span>EPR Compliance</span>
          </div>
        </div>
      </div>
      <div class="company-info-section2 pl-[25px] pr-[90px]">
        <div class="title">OFFICE ADDRESS</div>
          <div class="content">
            <div class="address">
              <span>Flipkart Internet Private Limited,
                Buildings Alyssa, Begonia &
                Clove Embassy Tech Village,
                Outer Ring Road, Devarabeesanahalli Village,</span>
            </div>
            <div class="city-pin">
              <span>Bengaluru, </span><span>560103,</span>
            </div>
            <div class="state-country">
              <span>Karnataka, </span><span>India</span>
            </div>
            <div class="cin mt-[5px]">
              <label>CIN : </label><span>U51109KA2012PTC066107</span>
            </div>
            <div class="phone mt-[5px]">
              <label>Telephone : </label><span>044-45614700 / 044-67415800</span>
            </div>
          </div>
      </div>
    </div>
    <div class="copy-write bg-slate-700 flex flex-row justify-center items-center">
      <span> &#169; 2025 www.blissview.com. All rights reserved.</span>
    </div>
  </div>
</div>
