<!-- fixed top logo header -->
<page-header></page-header>

<!-- Items list  -->
<div class="cstm-cart-wrapper h-[calc(100vh-70px)] w-[100%] fixed top-[70px] left-0 z-10">
  <div class="py-[23px] px-[135px] grid grid-flow-row grid-cols-[70%_29%] gap-x-[15px]">
    <div class="grid grid-flow-row grid-rows-[64px_auto] gap-y-[1%]">
      <div>
        <cart-list-header></cart-list-header>
      </div>
      <cart-list-item></cart-list-item>
      <cart-list-item></cart-list-item>
      <cart-list-item></cart-list-item>
      <cart-list-item></cart-list-item>
      <cart-list-item></cart-list-item>
      <cart-list-item></cart-list-item>
    </div>
    <div class="pl-[16px] w-[326px] cart-right-section">
      <cart-total-calc></cart-total-calc>
      <div class="apply-coupon-section">
        <div class="title h-[41px] bg-blue-300 flex flex-row justify-center items-center pl-[10px]">
          COUPON CODE
        </div>
        <div class="input-code py-[15px] flex flex-row justify-center">
          <input type="text" pInputText [(ngModel)]="value" placeholder="Enter coupon code here" />
        </div>
        <div class="code-list flex flex-col justify-between items-center">
          <div class="w-[90%] mb-[10px] px-[11px] py-[23px] coupon-detail" *ngFor="let item of [1,2,3,4,5,6,7,8]">
            <coupon-code-card [couponId]="item"></coupon-code-card>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
