<div class="cart-total grid grid-flow-row grid-rows-[24px_175px_48px_41px] mb-[20px]">
  <div class="title">
    <span>PRICE DETAILS (2 Items)</span>
  </div>
  <div class="components flex flex-col justify-evenly pb-[10px]">
    <div class="flex flex-row justify-between">
      <span>Total MRP</span>
      <span>Rs 5,598</span>
    </div>
    <div class="flex flex-row justify-between">
      <span>Discount on MRP</span>
      <span class="text-green-700">-Rs 3,854</span>
    </div>
    <div class="flex flex-row justify-between">
      <span>Coupon Discount</span>
      <span class="apply-coupon-button">Apply Coupon</span>
    </div>
    <div class="flex flex-row justify-between">
      <span>Total MRP</span>
      <span>Rs 5,598</span>
    </div>
    <div class="flex flex-row justify-between">
      <span>Platform Fee</span>
      <span>Rs 20</span>
    </div>
    <div class="flex flex-row justify-between">
      <span>Delivery Fee</span>
      <span class="text-green-700">FREE</span>
    </div>
  </div>
  <div class="total-price flex flex-flow-row justify-between items-center">
    <span>Total Amount</span>
    <span>Rs 1,764</span>
  </div>
  <div class="place-order-button flex flex-flow-row justify-center items-center" (click)="placeOrder()">
    <span>PLACE ORDER</span>
  </div>

</div>

