<div class="product-card-wrapper shadow-xl grid grid-flow-row grid-rows-[17.375rem_auto]">
  <div class="product-card-image bg-red-500"></div>
  <div class="product-card-details px-[11px] pt-[13px]">
    <h3 class="product-brand">Jack & Jones</h3>
    <h4 class="product-name">Men Bootcut Stretchable Jeans</h4>
    <div class="product-price">
      <span class="product-discounted-price inline-block mr-[5px]">Rs. 1374</span>
      <span class="product-actual-price inline-block mr-[5px]">Rs. 2499</span>
      <span class="product-discount-percentage">(45% off)</span>
    </div>
  </div>
</div>
