<div class="header h-[24px] grid grid-flow-row grid-cols-[19px_1fr_23px] gap-[6px]">
  <p-radiobutton class="flex items-center" name="pizza" value="HDFCEMI-{{couponId}}" [(ngModel)]="couponCode"
    inputId="ingredient1" />
  <div class="coupon-code">HDFCEMI</div>
  <div class="coupon-icon"><img src="../../../../../assets/icons/coupon.png" alt=""></div>
</div>
<div class="content grid grid-flow-row grid-cols-[25px_1fr]">
  <span></span>
  <span class="description">Get ₹ 400 instant discount on paying using HDFC Bank Credit Card EMI
  </span>
</div>
<div class="coupon-rules grid grid-flow-row grid-cols-[25px_1fr]">
  <span></span>
  <span class="terms-and-conditions">Terms & Conditions</span>
</div>
