

.coupon-code {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.content > .description {
  font-size: 12px;
  color: #6d7278;
  line-height: 17px;
}

.coupon-rules > .terms-and-conditions {
  display: block;
  font-size: 12px;
  color: #008cff;
  text-decoration: none;
  cursor: pointer;
}
