.cstm-address-selector-wrapper {
  background-color: rgba(96,97,98,0.7);//rgba(226,232,240,0.5);
  z-index: 11;

  .cstm-address-selector-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    opacity: 1;
  }

  .address-line-1 {
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }

  .address-line-2 {
    color: #878787;
    line-height: 21px;
    font-weight: 400;
    font-size: 14px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cstm-address-to-name {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cstm-address-to-pin {
    white-space: nowrap;
    overflow: hidden;
  }

  .cstm-address-list {
    overflow-y: auto;
  }

}

.p-radiobutton .p-radiobutton-box {
  height: 18px;
  width: 18px;
}
